{% extends "base.html.twig" %}

{% block body %}


<h1> {{title}} </h1>

{% if age > 18 %}
    <p>Vous êtes majeur</p>
{% else %}
    <p>Vous êtes mineur</p>
{% endif %}


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam molestiae quos asperiores natus voluptates iste. Excepturi dignissimos deserunt maiores hic! Ipsa eius sint cumque vel, molestiae ducimus facilis obcaecati aliquid officiis libero debitis quod est! Inventore, assumenda! Soluta, consequatur tempora?</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque officiis enim expedita eum deserunt! Amet, vero! Eum suscipit nulla ratione optio saepe reprehenderit repellendus quam ex, praesentium enim eveniet itaque alias eaque excepturi nemo eos reiciendis soluta aspernatur libero ipsam provident repudiandae cupiditate fuga. Reiciendis fugiat at soluta sed suscipit illum magnam qui iste iusto maxime, dicta dolorum nemo modi pariatur natus doloremque deleniti minima? Dolor aspernatur fugiat dignissimos porro minima natus, dicta iure placeat enim iusto doloribus perferendis laborum explicabo. Voluptas dignissimos itaque unde iure vero dolor iste impedit! Deserunt, velit vero illo itaque officiis blanditiis cupiditate ullam!</p>

{% endblock %}